@use './reset';
@use './functions';
@use './media';
@use './variables';
@use './tokens/color';
@use './tokens/font';

#app {
  height: 100vh;
  margin: 0 auto;
  max-width: $breakpoint-desktop;
  background: var(--bg-page);
  font-family: var(--font-inter);
}
