:root {
  //Text
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --dark-text-primary: #e1d4c9;
  --dark-text-inverse: #e1d4c9;
  --dark-text-accent: #b0907a;

  //Background
  --bg-page: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: ##403f3d;
  --dark-bg-page: #292826;
  --dark-bg-container: #403f3d;
  --dark-bg-overlay: #292826;

  //Border
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
  --dark-border-primary: #665f55;
  --dark-border-inverse: #c1b6ad;
}
